<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Astronomy Picture of the Day</title>
    <style>
        body {
            background-color:  rgb(0, 0, 57);
        }
        .img-fluid {
            max-width: 100%;
            height: auto; 
            border-radius: 3%;
            border-width: 3%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg container">
            <div class="container">
                <a class="navbar-brand text-light" href="/">Mikrokosmos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
                        <li class="nav-item">
                            <a class="nav-link text-light active" href="/apod">APOD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/nasa_news">News</a>
                        </li>
                    </ul>
                    <% if (user && user.username) { %>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-fill"></i>
                                    <%= user.username %>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/account">Profile</a></li>
                                    <li><a class="dropdown-item" href="/history">History</a></li>
                                    <li><hr class="dropdown-divider"></li>    
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    <% } else { %>
                        <form action="/login" method="get" class="ms-2">
                            <button class="btn btn-outline-primary text-white" type="submit">Login</button>
                        </form>
                    <% } %>
                    
                </div>        
            </div>
        </nav>
    </header>

    <main>
        <div class="container py-5">
            <div class="search-box">
                <form class="d-flex" action="/apod" method="get" id="formDateSearch">
                    <i class="bx bxs-map"></i>
                    <input class="form-control" name="date" type="date" placeholder="Enter a date" name="date" aria-label="Search" id="dateSearch">
                    <button class="btn btn-dark btn-outline text-light" type="submit">Search</button>
                </form>
            </div>
            <div class="card-body">
                <h2 class="card-title text-light mt-5">Astronomy Picture of the Day</h2>
            </div>
        </div>
        <div class="container pb-5 pt-2 col-10">
            <div id="content" class="justify-content-center">
                <% if (apodData.media_type === 'image') { %>
                    <div class="text-center p-0">
                        <img src="<%= apodData.url %>" class="img-fluid border d-inline-block" alt="APOD Image">
                    </div>
                <% } else if (apodData.media_type === 'video') { %>
                    <!-- Adjusted code for displaying the video -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <div class="text-center">
                                <div class="embed-responsive embed-responsive-16by9 p-0">
                                    <iframe class="embed-responsive-item border d-inline-block" src="<%= apodData.url %>" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="card-body">
                    <h2 class="card-title text-light my-5"><%= apodData.title %></h2>
                    <p class="text-light">Date: <%= apodData.date %></p>
                    <p class="text-light">Explanation: <%= apodData.explanation %></p>
                </div>
            </div>
        </div>
    </main>
    

         
    <div id="contact" class="container-fluid">
        <footer class="py-5">
            <div class="text-center col-md-9 col-sm-12 mx-auto">
                <p>&copy; 2023 Akniet Maulen | SE-2204 </p>
                <p>Email: akniet.maulenova.2017@gmail.com</p>
                <p>Connect with me: <a href="https://t.me/maulen_akniet" target="_blank">Telegram</a></p>
                <p>Project: Mikrokosmos | NASA App</p>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
