<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="/img/weather.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;1,6..12,900&display=swap" rel="stylesheet"> 
</head>
<body style="background-color: powderblue;">
    <div id="weatherContainer">
        <nav class="navbar navbar-expand-lg container">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="ms-auto">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" aria-current="page" href="/">WeatherApp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" href="#contact">Contact me</a>
                            </li>
                            <form class="d-flex" action="/main" method="get" id="formCityName">
                                <button class="btn btn-dark btn-outline text-white" type="submit">Go back</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <main class="container-fluid mt-3">
        <div class="container-fluid overflow-hidden">
            <div class="row gx-5">
                <div class="col-3">
                    <div class="p-3 left-card card ps-4">
                        <p class="fs-5 fw-bold">Now</p>
                        <div class="wrapper">
                            <p class="heading fs-1 me-5 d-flex align-items-center" id="temp"><%= weatherData.currentWeather.main.temp %></p>
                            <% let iconUrl = `http://openweathermap.org/img/w/${weatherData.currentWeather.weather[0].icon}.png` %>
                            <img src="<%=iconUrl%>" alt="mainIcon" id="mainIcon" class="icon_size d-flex align-items-center">
                        </div>
                        <p id="desc"><%= weatherData.currentWeather.weather[0].description%></p>
                        <div class="d-flex">
                            <i class="bi bi-calendar me-1"></i>
                            <p id="date"><%= new Date(weatherData.currentWeather.dt * 1000).toLocaleDateString(); %></p>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-stopwatch me-1"></i>
                            <p id="time"><%= `${new Date(weatherData.timezone.timestamp * 1000).toLocaleTimeString()}, ${weatherData.timezone.abbreviation}` %></p>
                        </div>
                        <div class="d-flex">
                            <i class="bi bi-geo-alt me-1"></i>
                            <p id="name"><%= `${weatherData.currentWeather.name}, ${weatherData.currentWeather.sys.country}, [${weatherData.currentWeather.coord.lat}, ${weatherData.currentWeather.coord.lon}]`%></p>
                        </div>
                    </div>
                </div>
                <div class="col-9 my-auto">
                    <div class="row gx-5 mb-3">
                        <div class="col">
                            <div class="p-3 card ps-4">
                                <p class="fs-5 fw-bold">City Information</p>
                                <p id="cityInfo"><%= `${weatherData.cityInfo}`%></p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 mt-3">
                    <div class="card today">
                        <div class="p-3">
                            <p class="fs-5 fw-bold">Today's Weather</p>
                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Humidity</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-droplet-half fs-2"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="humidity"><%= `${weatherData.currentWeather.main.humidity}%`%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Wind</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-wind fs-2"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="wind"><%= `${weatherData.currentWeather.wind.speed}m/s`%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Clouds</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-cloud fs-2"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="cloud"><%= `${weatherData.currentWeather.clouds.all}%`%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Sunrise</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-brightness-high fs-1"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="sunrise"><%= new Date(weatherData.currentWeather.sys.sunrise * 1000).toLocaleTimeString()%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Sunset</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-moon fs-1"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="sunset"><%= new Date(weatherData.currentWeather.sys.sunset * 1000).toLocaleTimeString()%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="p-3">
                                        <p>Feels like</p>
                                        <ul class="d-flex align-items-center">
                                            <li>
                                                <i class="bi bi-thermometer-half fs-2"></i>
                                            </li>
                                            <li class="ms-2">
                                                <p id="feels_like"><%= `${weatherData.currentWeather.main.feels_like}`%></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
    </main>
    <div id="contact" class="container-fluid mt-5">
        <footer class="py-5">
            <div class="text-center col-md-9 col-sm-12 mx-auto">
                <p>&copy; 2023 Akniet Maulen | SE-2204 </p>
                <p>Email: akniet.maulenova.2017@gmail.com</p>
                <p>Connect with me: <a href="https://t.me/maulen_akniet" target="_blank">Telegram</a></p>
                <p>Project: Weather App</p>
            </div>
        </footer>
        
    </div>
        
    
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_2YSJ_KR2XolIlxk8Jl6MlLTk8ahvzWM&libraries=places"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../index.js"></script>

        
</body>
</html>